@page "/addcountry"
@rendermode InteractiveServer

@using HospitalManagementSystem.Data
@using HospitalManagementSystem.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using MudBlazor

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<ApplicationUser> userManager
@inject NavigationManager navigation
@inject ISnackbar Snackbar

@attribute [Authorize]

<div class="mx-2">
    <MudPaper Elevation="15" Class="p-4">

        <EditForm Model="@country"
                  OnValidSubmit="@CreateNewCountry"
                  FormName="addcountry">

            <DataAnnotationsValidator />

            <h3>Add New Country</h3>

            <MudGrid>

                <MudItem xs="12" sm="6" md="6">
                    <label>Code <span class="text-danger">*</span></label>
                    <MudTextField @bind-Value="country.Code"
                                  Placeholder="Enter country code"
                                  For="@(() => country.Code)"
                                  Variant="Variant.Outlined"
                                  FullWidth="@true" />
                </MudItem>

                <MudItem xs="12" sm="6" md="6">
                    <label>Name <span class="text-danger">*</span></label>
                    <MudTextField @bind-Value="country.Name"
                                  Placeholder="Enter country name"
                                  For="@(() => country.Name)"
                                  Variant="Variant.Outlined"
                                  FullWidth="@true" />
                </MudItem>

            </MudGrid>

            <div class="mt-4">
                <MudStack Row Justify="Justify.SpaceBetween">

                    <MudButton Href="/countries"
                               Variant="Variant.Filled"
                               Color="Color.Warning"
                               StartIcon="@Icons.Material.Filled.ArrowBack">
                        Back
                    </MudButton>

                    <MudButton ButtonType="ButtonType.Submit"
                               Variant="Variant.Filled"
                               Color="Color.Primary"
                               StartIcon="@Icons.Material.Filled.Save">
                        Save
                    </MudButton>

                </MudStack>
            </div>

        </EditForm>

    </MudPaper>
</div>

@code {
    private Country country = new();
    private string? UserId;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            var currentUser = await userManager.GetUserAsync(user);
            UserId = currentUser?.Id;
        }
    }

    protected async Task CreateNewCountry()
    {
        country.CreatedOn = DateTime.UtcNow;
        country.CreatedById = UserId;
        country.ModifiedOn = DateTime.UtcNow;
        country.ModifiedById = UserId;

        await countryService.AddCountryAsync(country);

        navigation.NavigateTo("/countries?created=true");
    }
}
