@page "/adddepartment"
@rendermode InteractiveServer
@using HospitalManagementSystem.Data
@using HospitalManagementSystem.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using MudBlazor

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<ApplicationUser> userManager
@inject ISnackbar Snackbar

@inject NavigationManager navigation

@attribute [Authorize]

<div class="mx-2">
    <MudPaper Elevation="15" Class="p-4">

        <EditForm Model="@department"
                  OnValidSubmit="@CreateNewDepartment"
                  FormName="adddepartment">

            <DataAnnotationsValidator />

            <h3>Add New Department</h3>

            <MudGrid>

                <MudItem xs="12" sm="6" md="6">
                    <label>Code <span class="text-danger">*</span></label>
                    <MudTextField @bind-Value="department.Code"
                                  Placeholder="Enter department code"
                                  For="@(() => department.Code)"
                                  Variant="Variant.Outlined"
                                  FullWidth="@true" />
                    <ValidationMessage For="@(() => department.Code)" />
                </MudItem>

                <MudItem xs="12" sm="6" md="6">
                    <label>Name <span class="text-danger">*</span></label>
                    <MudTextField @bind-Value="department.Name"
                                  Placeholder="Enter department name"
                                  For="@(() => department.Name)"
                                  Variant="Variant.Outlined"
                                  FullWidth="@true" />
                    <ValidationMessage For="@(() => department.Name)" />
                </MudItem>

            </MudGrid>

            <div class="mt-4">
                <MudStack Row Justify="Justify.SpaceBetween">

                    <MudButton Href="/departments"
                               Variant="Variant.Filled"
                               Color="Color.Warning"
                               StartIcon="@Icons.Material.Filled.ArrowBack">
                        Back To List
                    </MudButton>

                    <MudButton ButtonType="ButtonType.Submit"
                               Variant="Variant.Filled"
                               Color="Color.Primary"
                               StartIcon="@Icons.Material.Filled.Save">
                        Save Department
                    </MudButton>

                </MudStack>
            </div>

        </EditForm>

    </MudPaper>
</div>

@code {
    private Department department = new();
    private string? UserId;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            var currentUser = await userManager.GetUserAsync(user);
            UserId = currentUser?.Id;
        }
    }

    protected async Task CreateNewDepartment()
    {
        try
        {
            department.CreatedOn = DateTime.UtcNow;
            department.CreatedById = UserId;

            await departmentService.AddDepartmentAsync(department);

            Snackbar.Add("Department Created Successfully", Severity.Success);

            await Task.Delay(300);

            navigation.NavigateTo("/departments?created=true");
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Error: {ex.Message}", Severity.Error);
        }
    }
}
