@page "/addsystemcode"
@rendermode InteractiveServer
@using HospitalManagementSystem.Data
@using HospitalManagementSystem.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using MudBlazor

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<ApplicationUser> userManager
@inject NavigationManager navigation
@inject ISnackbar Snackbar

@attribute [Authorize]

<div class="mx-2">
    <MudPaper Elevation="15" Class="p-4">

        <EditForm Model="systemCode"
                  OnValidSubmit="CreateNewSystemCode"
                  FormName="addsystemcode">

            <DataAnnotationsValidator />

            <h3>Add New System Code</h3>

            <MudGrid>

                <MudItem xs="12" sm="6" md="6">
                    <label>Code <span class="text-danger">*</span></label>
                    <MudTextField @bind-Value="systemCode.Code"
                                  Placeholder="Enter system code"
                                  For="@(() => systemCode.Code)"
                                  Variant="Variant.Outlined"
                                  FullWidth="@true" />
                    <ValidationMessage For="@(() => systemCode.Code)" />
                </MudItem>

                <MudItem xs="12" sm="6" md="6">
                    <label>Name <span class="text-danger">*</span></label>
                    <MudTextField @bind-Value="systemCode.Description"
                                  Placeholder="Enter system code name"
                                  For="@(() => systemCode.Description)"
                                  Variant="Variant.Outlined"
                                  FullWidth="@true" />
                    <ValidationMessage For="@(() => systemCode.Description)" />
                </MudItem>

            </MudGrid>

            <div class="mt-4">
                <MudStack Row Justify="Justify.SpaceBetween">

                    <MudButton Href="/systemcodes"
                               Variant="Variant.Filled"
                               Color="Color.Warning"
                               StartIcon="@Icons.Material.Filled.ArrowBack">
                        Back To List
                    </MudButton>

                    <MudButton ButtonType="ButtonType.Submit"
                               Variant="Variant.Filled"
                               Color="Color.Primary"
                               StartIcon="@Icons.Material.Filled.Save">
                        Save System Code
                    </MudButton>

                </MudStack>
            </div>

        </EditForm>

    </MudPaper>
</div>

@code {
    private SystemCode systemCode = new();
    public string? UserId;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            var currentUser = await userManager.GetUserAsync(user);
            UserId = currentUser?.Id;
        }
    }

    protected async Task CreateNewSystemCode()
    {
        systemCode.CreatedOn = DateTime.UtcNow;
        systemCode.CreatedById = UserId;
        systemCode.ModifiedOn = DateTime.UtcNow;
        systemCode.ModifiedById = UserId;

        await systemCodeService.AddSystemCodeAsync(systemCode);

        navigation.NavigateTo("/systemcodes?created=true");
    }
}
